@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Tajawal:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200&family=Lora&family=Montserrat:wght@100&display=swap');

.banner {
  background-image: url(images/louvres.jpg);
  background-size: cover;
  color: white;
  padding: 120px 0;
}

h1, h2 {
font-size: 38px;
font-family: 'Montserrat', sans-serif;
font-weight: bold;
}


.banner p {
  font-family: 'Lora', serif;
  font-size: 20px;
  font-style: italic;
  font-weight: lighter;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.container {
  width: 700px;
  margin: 50px auto;
}

.body {
  color: darkgrey;
  font-size: 18px;
  line-height: 1.6;
  font-weight: lighter;
  font-family: 'Lora', serif;
  margin: 0;
}

a {
  background-color: rgb(164, 231, 147);
  color: rgb(158, 152, 152);
  font-weight: lighter;
  font-size: 25px;
  font-style: italic;
}

a:hover {
  background-color:#58c258;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
